<div class="navbar-main">

  <nav class="navbar navbar-expand-lg fixed-top navbar-shrink">
    <div class="container">
      <a class="navbar-brand" routerLink='/' >
        <img src="assets/img/anarish-logo-4.png"  alt="Anarish Innovations" class="img-fluid" />
      </a>
      <button (click)="isDropdownShow = true" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" [class.show]="isDropdownShow" [attr.aria-expanded]="isDropdownShow" aria-label="Toggle navigation">
         Menu<span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [class.show]="isDropdownShow" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a (click)="isDropdownShow = !isDropdownShow" [ngClass]="{'active': isPortfolioActive}"  class="nav-link dropdown-toggle nav-content-black" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }"  href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="20,0">
              Portfolio
            </a>
            <ul class="dropdown-menu " [class.show]="isDropdownShow">
              <li><a class="dropdown-item" (click)="isDropdownShow = false" routerLink="portfolio/1"  routerLinkActive="active">Customer Relationship Management System</a></li>
              <li><a class="dropdown-item" (click)="isDropdownShow = false" routerLink="portfolio/2"  routerLinkActive="active">HR Management System</a></li>
              <li><a class="dropdown-item" (click)="isDropdownShow = false" routerLink="portfolio/3"  routerLinkActive="active">Website Design and Development</a></li>
              <li><a class="dropdown-item" (click)="isDropdownShow = false" routerLink="portfolio/4"  routerLinkActive="active">Learning Management System</a></li>
              <li><a class="dropdown-item" (click)="isDropdownShow = false" routerLink="portfolio/5"  routerLinkActive="active">Mobile Solutions</a></li>
              <li><a class="dropdown-item" (click)="isDropdownShow = false" routerLink="portfolio/6"  routerLinkActive="active">Digital Marketing</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-content-black" (click)="isDropdownShow = false" routerLinkActive="active" routerLink='about-us' >About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-content-black" (click)="isDropdownShow = false" routerLinkActive="active" routerLink='contact-us'>Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>