<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <h3 class="conversation">Let's Talk</h3>
                <p class="email">
                    <a class="btn-link" href="mailto:marketing@anarish.com">marketing&#64;anarish.com </a>
                </p>
            </div>

            <div class="col-12 offset-lg-4 col-lg-4 offset-xxl-5 col-xxl-3 mt-3 mt-lg-0">
                <div class="row"> 
                    <div class="col-6">
                        <p> <a class="mb-3 btn-link" routerLink="">Home</a> </p>
                        <p> <a class="btn-link" routerLink="portfolio/1">Portfolio</a> </p>
                    </div>
                    <div class="col-6"> 
                        <p> <a class="mb-3 btn-link" routerLink="about-us">About Us</a> </p>
                        <p> <a routerLink="contact-us" class="btn-link" >Contact Us</a> </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                <p class="address mb-2">Sector 31, Faridabad, Haryana</p>
                <p class="address">+91-9899844180</p>
            </div>
            <div class="col-12 offset-lg-4 col-lg-4 offset-xxl-5 col-xxl-3 mt-3 mt-lg-0 d-flex gap-2">
              
               <a href="https://www.instagram.com/anarishinnovations?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img src="assets/img/instagram.svg" alt="instagram" class="img-fluid"></a>
                <a href="https://www.facebook.com/people/Anarish-Innovations/61550937362688/"> <img src="assets/img/facebook.svg" alt="facebook" class="img-fluid"></a>
                <!-- <img src="assets/img/youtube.svg" alt="" class="img-fluid"> -->
                <a href="https://www.linkedin.com/company/anarish/"><img src="assets/img/linkedin.svg" alt="linkedin" class="img-fluid"> </a>
                <!-- <img src="assets/img/x.svg" alt="" class="img-fluid"> -->
            </div>
        </div> 

        <div class="row mt-3">
            <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                <p class="condition mb-0">TERMS & CONDITIONS / PRIVACY POLICY</p>
            </div>
            <div class="col-12 offset-lg-4 col-lg-4 offset-xxl-5 col-xxl-3 mt-3 mt-lg-0">
                <p class="condition mb-0">COPYRIGHT © ANARISH INNOVATIONS 2024-2025</p>
            </div>
        </div>
    </div>
</footer>