<main class="theme-color-bg-light-yellow">
    <section class="masthead theme-color-bg-yellow">
        <div class="container">
            <div class="row row-y-gap">
                <div class="col-12 col-lg-6 col-xxl-5 d-flex align-items-center pe-lg-5">
                    <div class="pe-lg-3">
                        <h1 class="heading">
                            Website Design and Development
                        </h1>
                        <h1 class="mt-3">
                            Weaving Your Brand's Story into Custom-Crafted Web Designs
                        </h1>
                        <p class="mt-4">
                            <span class="badge rounded-pill badge-anarish me-3">
                                Design
                            </span>
                            <span class="badge rounded-pill badge-anarish me-3">
                                Development
                            </span>
                            <span class="badge rounded-pill badge-anarish me-3">
                                WordPress
                            </span>
                            <span class="badge rounded-pill badge-anarish">
                                HTML & CSS
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xxl-7 position-relative mt-3 mt-lg-0">
                    <div class="img-wrapper">
                        <video playsinline src="../../assets/img/portfolio/web-dev/dashboard.mp4" class="img-fluid" autoplay muted
                            loop></video>
                    </div>
                </div>
            </div>
        </div>
        <svg class="background-img d-none d-xl-block " width="977" height="750" viewBox="0 0 977 640"
            xmlns="http://www.w3.org/2000/svg" transform="rotate(180)">
            <path
                d="M976.784 721.85L0 721.849L368.139 240.751L407.5 0L928.5 1.57089e-05L553.149 334.376L976.784 721.85Z">
            </path>
        </svg>
    </section>

    <section class="empowering features">
        <div class="container">
            <div class="row gy-4">
                <div class="col-12 col-lg-6 order-lg-2 d-flex justify-content-center">
                    <div class="features-content ps-3">
                        <h2>
                            Empowering Your Digital Journey
                        </h2>
                        <p class="description">
                            Our strategy is to design a sophisticated user interface that effectively showcases your products. We aim to enhance website functionality to improve user experience and satisfaction.
                        </p>
                        
                        <ul class="">
                            <li>
                                Accelerated page response
                            </li>
                            <li>
                                Increased Conversion Rates
                            </li>
                            <li>
                                Responsive Design
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-lg-1">
                    <div class="">
                        <img src="assets/img/portfolio/web-dev/uni-u.webp" class="img-fluid" alt="digital journey"/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="website-features">
        <div class="container">
            <h2 class="card-title c-heading  text-center"> Powerful features to supercharge <br>your
                productivity</h2>
            <div class="cases-tab-wrap">
                <ul class="nav nav-tabs cases-tabs" id="myTab" role="tablist">
                    <li class="nav-item active">
                        <a id="tab-myCases" data-bs-target="#pane-myCases" class="nav-link active" data-bs-toggle="tab"
                            role="tab">Brand Essence</a>
                    </li>
                    <li class="nav-item">
                        <a id="tab-assignedCases" data-bs-target="#pane-assignedCases" class="nav-link"
                            data-bs-toggle="tab" role="tab">Interactive Elements </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="followedCase" data-bs-toggle="tab" data-bs-target="#followedCases"
                            role="tab">Accessible & Multilingual Compliant</a>
                    </li>

                </ul>

                <div id="accordion" class="cases-accordion tab-content" role="tablist">
                    <div id="pane-myCases" class="card tab-pane fade show active" role="tabpanel"
                        aria-labelledby="tab-myCases">
                        <a class="card-header d-flex align-items-center" role="tab" id="heading-A"
                            data-bs-toggle="collapse" data-bs-target="#collapse-myCases" aria-expanded="true"
                            aria-controls="collapse-A">
                            <span class="">
                                Brand Essence
                            </span>
                            <i class="fa fa-plus ml-auto"> </i>
                        </a>
                        <!-- Note: New place of `data-parent` -->
                        <div id="collapse-myCases" class="collapse display show" data-bs-parent="#accordion"
                            role="tabpanel" aria-labelledby="heading-A">
                            <div class="card-body new-card-body">
                                <div class="section-content">
                                    <div class="row gy-3">
                                        <!-- card-a -->
                                        <div class="col-12 col-md-6 col-xl-5 d-flex">
                                            <div class="card-1">
                                                <h3 class="feature-heading">Resonating with your audience </h3>
                                                <p class="feature-desc brand-desc"> </p>
                                                <ul class="list-unstyled d-flex flex-column gap-2 brand-essence-list">
                                                    <li class="mb-3">Consistent and memorable user experience that truly
                                                        embodies your brand.</li>
                                                    <li class="mb-3">Utilizing logos, colors, and typography that
                                                        reflect your brand identity.</li>
                                                    <li class="mb-3">Harmonizing the tone, content, and design with your
                                                        brand values and personality.</li>
                                                    <li class="mb-3">Strengthening ties with your audience, enhancing
                                                        brand recognition, and fostering trust and loyalty.</li>
                                                </ul>

                                            </div>
                                        </div>
                                        <!-- card b -->
                                        <div class="col-12 col-md-6 col-xl-7 d-flex">
                                            <div class="card-2">
                                                <div class="images">
                                                    <div class="images-slide">
                                                        <picture>
                                                            <!-- <source srcset="assets/img/portfolio/web-dev/be1.avif" -->
                                                                <!-- type="image/avif"> -->
                                                            <img src="assets/img/portfolio/web-dev/be1.webp"
                                                                class="img-fluid" alt="design">
                                                        </picture>
                                                        <img src="../../assets/img/portfolio/web-dev/be3.png" alt="design" />
                                                        <picture>
                                                            <!-- <source srcset="assets/img/portfolio/web-dev/be4.avif" -->
                                                                <!-- type="image/avif"> -->
                                                            <img src="assets/img/portfolio/web-dev/be4.webp"
                                                                class="img-fluid" alt="design">
                                                        </picture>
                                                        <img src="../../assets/img/portfolio/web-dev/be5.png" alt="design" />
                                                        <img src="../../assets/img/portfolio/web-dev/be6.png" alt="design" />
                                                        <picture>
                                                            <!-- <source srcset="assets/img/portfolio/web-dev/be7.avif" -->
                                                                <!-- type="image/avif"> -->
                                                            <img src="assets/img/portfolio/web-dev/be7.webp"
                                                                class="img-fluid" alt="design">
                                                        </picture>
                                                    </div>
                                                    <div class="images-slide">
                                                        <picture>
                                                            <!-- <source srcset="assets/img/portfolio/web-dev/be1.avif" -->
                                                                <!-- type="image/avif"> -->
                                                            <img src="assets/img/portfolio/web-dev/be1.webp"
                                                                class="img-fluid" alt="design">
                                                        </picture>
                                                        <img src="../../assets/img/portfolio/web-dev/be3.png" alt="design" />
                                                        <picture>
                                                            <!-- <source srcset="assets/img/portfolio/web-dev/be4.avif" -->
                                                                <!-- type="image/avif"> -->
                                                            <img src="assets/img/portfolio/web-dev/be4.webp"
                                                                class="img-fluid" alt="">
                                                        </picture>
                                                        <img src="../../assets/img/portfolio/web-dev/be5.png" alt="design" />
                                                        <img src="../../assets/img/portfolio/web-dev/be6.png" alt="design" />
                                                        <picture>
                                                            <!-- <source srcset="assets/img/portfolio/web-dev/be7.avif" -->
                                                                <!-- type="image/avif"> -->
                                                            <img src="assets/img/portfolio/web-dev/be7.webp"
                                                                class="img-fluid" alt="design">
                                                        </picture>
                                                    </div>
                                                   
                                                </div>
                                                <!-- <div class="feature-img">
                                                    <img src="../../assets/img/portfolio/web-dev/brand-essence.png"
                                                        alt="" class="img-fluid" />
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="pane-assignedCases" class="card tab-pane fade" role="tabpanel"
                        aria-labelledby="tab-assignedCases">
                        <a class="card-header d-flex align-items-center collapsed" role="tab" id="heading-B"
                            data-bs-toggle="collapse" data-bs-target="#collapse-assignedToMe" aria-expanded="false"
                            aria-controls="collapse-B">
                            <span class="">
                                Interactive Elements
                            </span>
                            <i class="fa fa-plus ml-auto"> </i>
                        </a>
                        <div id="collapse-assignedToMe" class="collapse display" data-bs-parent="#accordion"
                            role="tabpanel" aria-labelledby="heading-B">
                            <div class="card-body">
                                <div class="section-content">

                                    <div class="row gy-3">
                                        <!-- card-a -->
                                        <div class="col-12 col-md-6 col-xl-5 d-flex">
                                            <div class="card-1 pb-0 pt-0">

                                                <div class="feature-heading">It’s All in the Details</div>
                                                <div class="feature-desc">
                                                    Clear Call-to-Actions (CTAs) which guide users to take actions like
                                                    signing up or making a purchase with strategically placed buttons
                                                    and links.

                                                </div>
                                                <div class="feature-desc">
                                                    Features such as chatbots, interactive forms, and polls engage
                                                    users, provide real-time assistance, and gather feedback, enhancing
                                                    the user experience and driving conversions.

                                                </div>
                                            </div>
                                        </div>
                                        <!-- card b -->
                                        <div class="col-12 col-md-6 col-xl-7 d-flex">
                                            <div class="card-2 pb-0 pt-0">
                                                <div class="feature-img">
                                                    <img src="../../assets/img/portfolio/web-dev/Interactive-elements.svg"
                                                        alt="interactive-elements" class="img-fluid" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="followedCases" class="card tab-pane fade" role="tabpanel" aria-labelledby="followedCase">
                        <a class="card-header d-flex align-items-center collapsed" role="tab" id="heading-B"
                            data-bs-toggle="collapse" data-bs-target="#collapse-followedToMe" aria-expanded="false"
                            aria-controls="collapse-B">
                            <span class="">
                                Accessible compliant & Multilingual Compatibility
                            </span>
                            <i class="fa fa-plus ml-auto"> </i>
                        </a>
                        <div id="collapse-followedToMe" class="collapse display" data-bs-parent="#accordion"
                            role="tabpanel" aria-labelledby="heading-B">
                            <div class="card-body">
                                <div class="section-content">

                                    <div class="row gy-3">
                                        <!-- card-a -->
                                        <div class="col-12 col-md-6 col-xl-5 d-flex">
                                            <div class="card-1 pb-0 pt-0">

                                                <div class="feature-heading">Accessible compliant & Multilingual
                                                    Compatibility</div>
                                                <div class="feature-desc">
                                                    Users can switch between different languages, making it easier for a
                                                    global audience to navigate. These additions help create a more
                                                    welcoming and user-friendly experience for all visitors.
                                                </div>
                                                <div class="feature-desc">Accessibility features make sure everyone,
                                                    including people with disabilities, can use the website easily by
                                                    following guidelines like WCAG. Plus, with multilingual support.
                                                </div>

                                            </div>
                                        </div>
                                        <!-- card b -->
                                        <div class="col-12 col-md-6 col-xl-7 d-flex">
                                            <div class="card-2 pb-0">
                                                <div class="feature-img">
                                                    <img src="../../assets/img/portfolio/web-dev/Accessiblity-internationalization.png"
                                                        alt="accessibility-internationalization" class="img-fluid" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="elivate">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 pe-lg-4 order-lg-1 d-flex">
                    <div class="d-flex flex-column justify-content-center">
                        <h2 class="mb-4">
                            Elevating Web Excellence Worldwide
                        </h2>
                        <p class="me-3">
                            We excel in creating websites with HTML, CSS, and WordPress, ensuring functional and
                            flexible designs. Our expertise allows for responsive layouts that look great on any device
                            and also offers an easy-to-use CMS for updates.
                        </p>
                        <p class="me-3">We adhere to SEO best practices, optimizing for speed, mobile-friendliness, and
                            visibility, enhancing user experience and online success.
                        </p>
                        <ul class="list-unstyled d-flex flex-column gap-1 mt-3">
                            <li class="mb-3">
                                <h3> Dynamic Design </h3>
                                <p> Our development team specializes in crafting responsive, visually stunning websites
                                    using HTML and CSS, ensuring an engaging user experience across all devices. </p>
                            </li>
                            <li class="mb-3">
                                <h3> WordPress CMS</h3>
                                <p> We offer expert WordPress CMS development to create dynamic, user-friendly websites
                                    tailored to your business needs with customizable themes, plugins, and seamless
                                    content management.</p>
                            </li>
                            <li class="mb-3">
                                <h3> SEO Excellence</h3>
                                <p> Achieve top search engine rankings with our SEO Excellence services, designed to
                                    drive traffic and attracting more potential customers. </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-6 col-lg-3 d-flex justify-content-center order-lg-2">
                    <div class="img1">
                        <img src="../../assets/img/portfolio/web-dev/elevating-web-1.png" class="img-fluid" />
                    </div>
                </div>
                <div class="col-6 col-lg-3 order-lg-3">
                    <div class="img2">
                        <img src="../../assets/img/portfolio/web-dev/elevating-web-2.png" class="img-fluid" />
                    </div>
                </div> -->
                <div class="col-12 col-lg-6 order-lg-2">
                    <div class="h-100 d-flex justify-content-center align-items-center">
                        <video playsinline src="../../assets/img/portfolio/web-dev/web-dev-animation.mp4" class="img-fluid" autoplay
                            muted loop></video>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-0 last-section">
        <div class="container">
            <p class="mb-2">
                Next Case Study
            </p>
            <p class="mb-4">
                <a class="" routerLink="../4">
                    Learning Management System
                    <img src="assets/img/icons/arrow-right.png" alt="right-arrow" class="ml-3" class="img-fluid" />
                </a>
            </p>
        </div>
        <div class="next-portfolio">
            <!-- -->
        </div>
    </section>
</main>