<section id="portfolio" class="pt-5 container page-section">
    <div class="">
        <div class="text-center mb-5">
            <h4 class="section-solution mb-3">OUR SOLUTIONS</h4>
            <h2 class="section-heading mb-3">Portfolio</h2>
            <h3 class="section-subheading">Unlock creativity with our comprehensive design services and solutions tailored to elevate your brand </h3>
            <h3 class="section-subheading">presence and drive success.</h3>
        </div>
    </div>
   
    <div class="row">
        <div class="col-6 mb-4 yas" (click)="handleClick('1')">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-flex align-items-start">
                        <img src="assets/img/hr-system.svg" alt="">
                       <div class="ms-4">
                        <h5 class="card-title mb-3">HR Management System</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                       </div>
                    </div>
                  
                </div>
              </div>
        </div>
        <div class="col-6 mb-4" (click)="handleClick('2')">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-flex align-items-start">
                        <img src="assets/img/lms-system.svg" alt="HR management system">
                       <div class="ms-4">
                        <h5 class="card-title mb-3">Customer Relationship Management System</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                       </div>
                    </div>
                  
                </div>
              </div>
        </div>
        <div class="col-6 mb-4" (click)="handleClick('3')">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-flex align-items-start">
                        <img src="assets/img/mobile-sol.svg" alt="Learning management system">
                       <div class="ms-4">
                        <h5 class="card-title mb-3">Learning Management System</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                       </div>
                    </div>
                  
                </div>
              </div>
        </div>
        <div class="col-6 mb-4" (click)="handleClick('4')">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-flex align-items-start">
                        <img src="assets/img/web-design.svg" alt="Mobile Solutions">
                       <div class="ms-4">
                        <h5 class="card-title mb-3">Mobile Solutions</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                       </div>
                    </div>
                  
                </div>
              </div>
        </div>
        <div class="col-6 mb-4" (click)="handleClick('5')">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-flex align-items-start">
                        <img src="assets/img/crms-system.svg" alt="website design"> 
                       <div class="ms-4">
                        <h5 class="card-title mb-3">Website Design and Development</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                       </div>
                    </div>
                  
                </div>
              </div>
        </div>
        <div class="col-6 mb-4" (click)="handleClick('6')">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-flex align-items-start">
                        <img src="assets/img/marketing-system.svg" alt="digital marketing">
                       <div class="ms-4">
                        <h5 class="card-title mb-3">Digital Marketing</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                       </div>
                    </div>
                  
                </div>
              </div>
        </div>
    </div>

   
</section>  