@import "../root-portfolio/root-portfolio.component.scss";

.masthead {
  padding: 3rem 0; 
  position: relative;
  overflow: hidden;
  background-color: #C4B1F9;
  @include media-breakpoint-up(xl) {
    padding: 6rem 0; 
  }

  .background-img {
    position: absolute;
    left: 40%;
    top: -10%;
    z-index: 1;
    fill: #8468D1;
  }
}




