$primary: black;
$font-family-base: "Manrope";
$grid-breakpoints: (
  xs: 0,
  sm: 425px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px
);