
<!-- <section class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6"> 
                <h1> To help you in   <span> </span> solutions. We craft simplicity into extraordinary creations.</h1>
                <p> Lorem ipsum dolor sit amet consectetur. Mauris egestas amet purus interdum sit nisl ipsum orci. Sed amet nunc nulla venenatis gravida. Massa molestie ullamcorper eget elementum urna cursus. Eleifend interdum bibendum tincidunt morbi sed donec suspendisse diam aliquet.</p>
                <p> <a class="btn btn-primary"> Get Started </a></p>
            </div>
            <div class="col-12 col-xl-6"> 
                <img src=""/>
            </div>
        </div>
    </div>
</section> -->

<section class="offerings">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6"> 
            </div>
            <div class="col-12 col-xl-6"> 
                <img src=""/>
            </div>
        </div>
    </div>
</section>

<section class="work">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-8"> 
            </div>
            <div class="col-12 col-xl-4"> 
                <img src=""/>
            </div>
            <div class="col-12 col-xl-8"> 
            </div>
            <div class="col-12 col-xl-4"> 
                <img src=""/>
            </div>
            <div class="col-12 col-xl-8"> 
            </div>
            <div class="col-12 col-xl-4"> 
                <img src=""/>
            </div>
            
        </div>
    </div>
</section>