<main class="theme-color-bg-light-yellow">
    <section class="masthead ">
        <div class="container">
            <div class="row row-y-gap">
                <div class="col-12 col-lg-6 col-xxl-5 d-flex align-items-center pe-lg-5">
                    <div class="pe-lg-3">
                        <h1 class="heading">
                            CRM System
                        </h1>
                        <h1 class="mt-3">
                            Effortless User Interactions and Enhanced Engagements
                        </h1>
                        <p class="mt-4">
                            <span class="badge rounded-pill badge-anarish me-3">
                                Design
                            </span>
                            <span class="badge rounded-pill badge-anarish">
                                Front end development
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xxl-7 position-relative mt-3 mt-lg-0">
                    <div class="img-wrapper">
                        <picture>
                            <!-- <source srcset="assets/img/portfolio/crms/masthead.avif" type="image/avif"> -->
                            <img src="assets/img/portfolio/crms/masthead.webp"  class="img-fluid" alt="crms">
                          </picture>
                    </div>
                </div>
            </div>
        </div>
        <svg class="background-img d-none d-xl-block" width="977" height="730" viewBox="0 0 977 640"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M976.784 721.85L0 721.849L368.139 240.751L407.5 0L928.5 1.57089e-05L553.149 334.376L976.784 721.85Z">
            </path>
        </svg>
    </section>

    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-lg-2 d-flex justify-content-center">
                    <div class="features-content ps-3">
                        <h2>
                            Streamlining Complex Processes for Enhanced Efficiency
                        </h2>
                        <p class="description">
                            We've meticulously designed a CRM system with user needs at the forefront, effectively resolving pain points and enhancing engagement. It transforms interactions into smooth, satisfying experiences, elevating user satisfaction.
                        </p>
                        <ul class="">
                            <li>
                                Consistency, Simplicity and Clarity
                            </li>
                            <li>
                                Navigation and Information Architecture
                            </li>
                            <li>
                                Tailored User Experiences
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-lg-1">
                    <div class="">
                        <img src="assets/img/portfolio/crms/features-img.png" alt="efficiency" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="supported-modules">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-lg-1 d-flex justify-content-center mt-3 mt-lg-0">
                    <div class="">
                        <h2 class="mb-4">
                            Comprehensive Coverage & Integration of CRMS
                        </h2>
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <h3>Customer Service Management</h3>
                                <p> Efficient call management, case routing, and self-service options. We also designed built-in knowledge bases, intelligent chatbots, and customer satisfaction tracking.</p>
                            </li>
                            <li class="mb-3">
                                <h3> Inventory Management </h3>
                                <p> Organized layout for tracking stock levels, orders, and deliveries. Clear indicators for inventory status and easy-to-navigate interfaces for managing the supply chain.</p>
                            </li>
                            <li class="mb-3">
                                <h3> Lead Management </h3>
                                <p> Easy-to-use tools for tracking and scoring potential customers, with visual cues to guide users through the lead capturing and nurturing process effectively.
                                    </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-lg-2">
                    <div class="h-100 d-flex align-items-center ps-3">
                        <video playsinline src="assets/img/portfolio/crms/module.mp4"  class="img-fluid" autoplay muted
                            loop></video>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row ">
                <div class="col-12 col-lg-6 order-lg-2 d-flex">
                    <div class="d-flex flex-column justify-content-center">
                        <h2>
                            Tailored User Experiences
                        </h2>
                        <p class="description description-two-line me-3">
                            Designed to offers a personalized interface that adapts to the specific needs of different user roles, supported by a well-organized content structure for optimal usability. 
                        </p>
                        <p class="description description-two-line me-3"> 
                            The system is the result of a collaborative design process that prioritizes user research and testing, ensuring that every feature resonates with the target audience.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-lg-1">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="../../assets/img/portfolio/crms/11aa.svg" alt="crms" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-0 last-section">
        <div class="container">
            <p class="mb-2">
                Next Case Study
            </p>
            <p class="mb-4"> 
                <a class="" routerLink="../2">
                    HRMS
                    <img src="assets/img/icons/arrow-right.png" alt="hrms" class="ml-3" class="img-fluid" />
                </a>
            </p>
        </div>
        <div class="next-portfolio">
            <!-- -->
        </div>
    </section>
</main>